@import 'variables';

button,
input[type=text],
input[type=password] {
  background-color: $colBackground;
  border: 2px solid $colBackgroundLight;
  color: $colText;
  font-size: $sizeElem;
  padding: $spElem;

  &:focus {
    border-color: $colBackgroundLighter;
    outline: none;
  }

  &:disabled {
    background-color: $colBackgroundLight;
    color: $colBackground;
  }
}

button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $colBackgroundLight;
  }

  .icon {
    margin-right: $spElem;
  }
}
