// UI colors
$colBackground: #181c1d;
$colBackgroundLight: #343b3d;
$colBackgroundLighter: #4c5658;

$colText: #d0d0d0;

$colPrimary: #64c9ff;
$colSecondary: #dd403a;

$colError: #dd403a;

// Font sizes
$sizeMenuTitle: 24px;
$sizeMenuSub: 16px;
$sizeElem: 18px;

// UI spacing
$spElem: 8px;
$spPanel: 16px;

// Misc variables
$fontBold: 400;
