@import '../scss/variables';

#App {
  background-color: $colBackground;
  color: $colText;
  height: 100%;

  .page {
    display: grid;
    height: 100%;

    grid-template-columns: minmax(200px, 300px) 1fr minmax(200px, 300px);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "rooms messages info"
      "rooms composer info";
  }
}
